.details{
    border-bottom: 1px solid lightgray;
    padding:10px;
    display: flex;
    
}
.details:hover{
    background:linear-gradient(90deg, rgba(2, 0, .6, 1)0%, rgba(9,9.121,1)35%, rgba(0,212,255,1)100%);
    color: white;
    transition: 1s;
}
.details img{
    width:200px;
}
.details-text{
    margin-left: 10px;
}